@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #a6a6a6;
  font-family: 'Space Mono', monospace;
}

button,
input {
  font: inherit;
}

.game-box {
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 600px;
  max-width: 800px;
  background-color: #404040;
  padding-bottom: 2rem;
  border-radius: 2%;
  margin-top: 2rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#f2f2f2;
  padding: 1rem;
}

h1 {
  font-size: 5rem;
  margin: 0;
  font-weight: 700;
  font-style: italic;
  text-shadow: 5px 0px #8c65a6;
  color: #f2f2f2;
}

.header-container h2 {
  font-size: 3rem;
  margin: 0;
  font-weight: 400;
  /* text-shadow: 5px 0px #8c65a6; */
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headshot {
  border-radius: 3%;
  border: 6px solid #8c65a6;
  margin-bottom: 10px;
}

.player-container {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  width: 160px;
}

.player-container p {
  color: #f2f2f2;
  font-size: 1.1rem;
  margin: 0;
  font-weight: 500;
}

.player-name {
  background-color: #8c65a6;
  padding: 0 8px;
}

.selector-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h3 {
  color: #f2f2f2;
  font-size: 1.5rem;
}

.stat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 44px;
  border: 3px solid #8c65a6;
  background-color: #fff;
  cursor: pointer;
}

.stat-button-column {
  border-radius: 3%;
  border: 3px solid #8c65a6;
  margin: 0 1rem;
}

.stat-button:hover {
  background-color: #8c65a6;
  color: #f2f2f2;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-input:checked + .stat-button {
  background-color: #8c65a6;
  color: #f2f2f2;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 3rem;
  border: 4px solid #8c65a6;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 3rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #8c65a6;
  color: #f2f2f2;
}

.player-button-group-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  }
  
.player-button-group-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 40%;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #404040;
  margin: 15% auto;
  padding: 2rem;
  border: 4px solid #8c65a6;
  width: 40%;
  border-radius: 3%;
  color: #f2f2f2;
  font-family: 'Space Mono', monospace;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left {
  padding-left: 1rem;
  text-align: start;
}

.right {
  padding-right: 1rem;
  text-align: end;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: start;
  align-items: center;
}

.error-message {
  position: absolute;
  text-align: center;
  color: #f2f2f2;
}

.stat-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #8c65a6;
  border-radius: 2%;
  background-color: #404040;
  color: #f2f2f2;
  min-height: 400px;
  width: 600px;
  margin-top: 2rem;
}

.start-screen p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.8rem 2rem;
}

.start-screen button {
  padding: 0.8rem;
}

@keyframes shake {
  0% { transform: translate(0.5px, 0); }
  10% { transform: translate(-0.5px, 0); }
  20% { transform: translate(-1.5px, 0); }
  30% { transform: translate(1.5px, 0); }
  40% { transform: translate(0.5px, 0); }
  50% { transform: translate(-0.5px, 0); }
  60% { transform: translate(-1.5px, 0); }
  70% { transform: translate(1.5px, 0); }
  80% { transform: translate(-0.5px, 0); }
  90% { transform: translate(0.5px, 0); }
  100% { transform: translate(-0.5px, 0); }
}

.shake-effect {
  animation: shake 0.2s;
  animation-iteration-count: 2;
}